.container-fluid{
	
}

#index2{
	text-align:center;
}

h1{
	
}

.row1{
}

.row2{
	
}

.content{
	padding-top: 30px;
	color: white;
}

.content img{
	height: 100px;
	padding-top: 20px;
}

#row1-1{
	background-color: #10bcab;
	height: 300px;
}

#row1-2{
	background-color: #1072bc;
	height: 300px;
}

#row1-3{
	background-color: #29b2a4;
	height: 300px;
}

#row2-1{
	background-color: #1c74a0;
	height: 300px;
}

#row2-2{
	background-color: #41838e;
	height: 300px;
}







.tab {
	cursor:pointer;
}

.tab:hover {
	background-color: black;
}

.tab:active {

}
