.product-list {
    width: 65%;
    margin: 0 10px 10px 0px;
    padding: 0px;
    float: left;
}

.horizontal .stock-bar {
    float: left;
    height: 50px;
    width: 100%;
    padding 12px;
}

.horizontal .stock-track {
    position: relative;
    height 25px;
    width 100%;
    background: #3F3F3F;
    -moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
    color: white;
}

.stock-track p {
    position: absolute;
    right: 0;
    top: -18px;
    height: 25px;
    text-align: right;
    padding-right: 10px;
    
}

.activeColouring {
	background-color: repeating-linear-gradient(
    -45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  ) !important;
}

.inactiveColouring {
	background-color: repeating-linear-gradient(
    -45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  ) !important;
}

.horizontal .stock-fill {
    position: relative;
    background: #415989;
    height: 25px;
    width: 50%;
    color: #FEFEFE;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    -moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
}

.orderStockButton {
    float: right;
}

.idNumber {
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    border-radius: 17px;
    margin-right: 40px;
    padding: 7px;
    font-weight: 700;
    
}

.addProduct {
    float: right;
}

.product_window {
	width: 50%;
	align: center;
	background-color: #3F3F3F;
	border-radius: 17px;
	padding:20px;
}

.product {
    list-style-type: none;
    padding: 15px 0 15px 0;

    margin: 0 0 25px 0;
    
}
div.accordion {
    cursor: pointer;
    transition: height 0.6s;
}
div.panel {
    background-color: #3F3F3F;
    color: white;
    display: none;
    //border-bottom-left-radius: 17px;
    //border-bottom-right-radius: 17px;
    border-radius: 17px;
    padding: 10px;
    
}
div.panel h3 {
    color: white;
}

div.panel.show {
    display: block;
}

/*
.detailsTitle {
    line-height: 60px;
    margin-bottom: 10px;
}
.detailsTitle input {
    display: inline-block;
    width: 65%;
}
.detailsTitle h4 {
    display: inline-block;
    width: 30%;
    color: white;
}
.detailsPrice input {
    display: inline-block;
    width: 65%;
}
.detailsPrice h4 {
    display: inline-block;
    width: 30%;
    color: white;
}
*/
.detail {
    padding-bottom:10px;
    line-height: 60px;
}
.detail h4{
    color: white;
    display: inline-block;
    width: 30%;
    right:0;
}
.detail input {
    width: 65%;
    display: inline-block;
}
.detail textarea {
    width: 65%;
    display: inline-block;
}
.detail select {
    width: 65%;
    display: inline-block;
}


.filter-block {
    background-color: #3F3F3F;
    float: right;
    border-radius: 17px;
    width: 30%;
    color: white;
    padding: 10px;
    border: 5px double #2e466e;
}

.filter-block h2 {
    color: white;
}
.priceOrder {
    margin-bottom: 20px;
}
.priceOrder h4 {
    display: inline-block;
    width: 40%;
    color: white;
}
.priceOrder select {
    width: 55%;
}
.typeOrder {
    margin-bottom: 20px;
}
.typeOrder h4 {
    display: inline-block;
    width: 40%;
    color: white;
}
.typeOrder select {
    width: 55%;
}



.title {
    font-weight: 700;
    position: inherit;
}

.price {
    padding-left: 40px;
    font-style: italic;
}