/*Menu styling*/
.tabs{
    padding: 0px;
    height: 50px;
    width: auto;
    float: left;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred; /* #333 */
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.nav li a:hover {
    background-color: #f2f2f2;
    color: darkred;
}

ul.nav li.icon {
    display: none;
}



/*Top info*/
.infoWrap{
    width: 400px;
    height: 80px;
    padding-top: 20px;
    padding-left: 10px;
}

.infoWrap .supplier{
    width: 200px;
    float: left;
}

.infoWrap .date{
    width: 200px;
    float: left;
}



/*Main content*/
.pageWrap{
    margin-top: 10px;
    width: 800px;
    text-align: left;
/*    padding-left: 10px;*/
}

.tableContainer{
    float:left; 
}

.total{
    margin-top: 30px;
    text-align: right;
    padding-right: 20px;
}


/*Select Invoice*/
.selectInvoice{
    float: right;
    padding-right: 20px;
}



.leftSide{
    width: 400px;
    float: left;
}

.rightSide{
    margin-top: 25px;
    width: 400px;
    float: left;
}




