.total {
	margin-top: 30px;
	font-size: 20px;
}

.repeat{
	width:460px;
	margin-left: auto;
	margin-right: auto;
}

.total .checkout{
	font-size: 15px;
}

.noProducts{
	font-size:20px;
}

.basket-container{
	width: 890px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	text-align: center;
}

.basketGrid h1{
	margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2
	}

th {
    background-color: #238b18;
    color: white;
}







