
.browse-image{
	height:300px;
}

.mainContainer{
	padding-top: 20px;
}



html,body{
    height:100%;
    /*background-image: url(images/seigaiha.png);  */
    background-attachment: fixed;
}

.pagNav{
	padding-top: 30px;
	clear: both;
	font-weight: bold;
}

.pagLink{
	text-decoration: underline;
}

.productGrid{
	
}

.products-container{
	text-align: center;
}

.prodButton{
	height: 25%;
}

.prodButton input{
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#238b18;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

.prodButton input:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}

.prodButton input:active {
	position:relative;
	top:1px;
}

.moreButton{
	margin-bottom: 10px;
}

.phone img {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 12px;
    
}
.phone h3 {
    display: inline-block;
    color: #ddd;
    font-style: italic;
}

.logo img{
    display: inline-block;
}
.logo h2 {
    display: inline-block;
    color: #ddd;
    
}

button.navbar-toggle{
    background: none;
}
.navbar{
    margin:0px -35px -1px -35px;
    border-radius: 0px;
    background: #000; /* For browsers that do not support gradients */
    font-size:13px !important;
    border-top-color: #000;
    border-bottom-color:#000;
}

ul.nav a{
    color:lightgray;
}
ul.nav a:hover{
    color: white; 
    background-color: #238b18 !important;

}
.nav>li>a:focus, .nav>li>a:hover{
    color:white;
    background-color: #238b18 !important;
    border-color: #238b18 !important;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(135,139,24, 0.6) !important;
     font-size:13px !important;
}
.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    color:white;
    background-color: #238b18 !important;
    border-color: #238b18 !important;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(135,139,24, 0.6) !important;
     font-size:13px !important;
}


#searchbar{
    float: right;
    padding-bottom: 20px;
}

#footer{
    margin-top:10px;
}

#footer, #footer:after{

    background: #000; 
    border-top-color: #000;
    border-bottom-color:#000;
    text-align: center;
    height:60px;
    margin: 0 -15px 0 -15px;
}



.footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    width: 100%;
    height: inherit;
    float:right;
}
.footer:first-child{
    
    float:left;
}
.foot:first-child{
    margin-left:20px;
}
.foot{
    margin-top:5px;
}
li{
        float:left;
}
a.foot-link{
    display: block;
    padding: 10px 20px 10px 20px;
    color: #fff;
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
}
a:hover, a:active, a:focus{
    color: #238b18;
    text-decoration: none;
}
.icon{
    float: right;
    margin-top: 0px;
    transition: 0.2s;
}
.icon:hover{
    margin-top: -5px;
    transition: 0.2s;
}
#icon-pos{
    float: right;
    margin-right:20px;
}
#copyright{
    color: white;
    margin-top:13px;
}


div.containertext {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
}





@media screen and (max-width: 558px){
    .news-preview{
        width: 60% !important;
    }
}
@media screen and (max-width: 426px){
    .news-preview{
        width: 50% !important;
    }
}
@media screen and (max-width: 688px){
    #copyright{
        margin-top: 30px !important;
    }
}

#title-logo{    
    float: left;
    max-width:100%;
    height:auto; 
}
#banner-logo{
    display: block;
    margin: auto;
    margin-top:50px;
    margin-bottom: 20px;
    max-width:100%;
    height:auto;    
}
.tab-style{
    color: black !important;
}

.news-container{
    margin-top: 2px;
    border: 1px solid lightgray;
    border-radius: 2px;
    width: auto;
    height: auto;
}

.news-image{
    margin: 10px;
    float: left;
    clear: left;
    max-width:100%;
    height:auto;  
}
.news-preview{
    float: left;
    margin-top:20px;
    margin-left:10px;
    font-size: 20px;
    width: 70%;   
    height: auto;
}
/*New Arrivals & Best Sellers styling*/
#image-container{
    margin: 0 auto;
    display: block;
    width:100%;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    margin-top: 20px;
    margin-bottom: 20px;

}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.btn-cart{
    display: block;
    margin: auto;
    margin-bottom:10px;
    color: black;
}


/*---------------REGISTRATION PAGE---------------*/
/*User details form*/
#userdetails-form{
    margin: 0 auto;
    display: block;
    border: 1px solid;
    border-color: #238b18;
    border-radius: 3px;
    padding: 20px;
    margin-bottom:30px;
    width: 50%;
        clear:both;
}
form#userdetails-form > #phase2, #phase3, #show_all_data{
    display: none;
}
.form-control:focus{
     border-color: rgba(35,139,24, 0.8);
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(135,139,24, 0.6);
     outline: 0 none;
}
#confirm-register{
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    font-size: 24px;
}

.form-control{
    font-family: 'Maven Pro', sans-serif;
        margin-top:10px;
}
#srch-term.form-control{
        margin-top:0px;
}

div#phase1, div#phase2, div#phase3{
    width: 100%;
}
#gender{
    width:40%;
}

#userdetails-submit{
    margin-top:10px;

}
.field{
    width:100% !important;
}



/*---------------Browse Page---------------*/
#sidebar{
    margin-top:10px;
    background-color: rgba(227, 227, 223, 0.4);
    max-width: 100%;
	
    height: 100%;
    padding:20px;
    border-radius: 2px;
    font-family: 'Maven Pro', sans-serif;
}
#shopping-body{
    margin:0 auto;  
    margin-bottom:20px;

}
#browse-search{

}
input#srch-term.form-control{
    width:100%;
}
#price-from, #price-to{
    max-width:105px;
    margin:-8px 4px 20px 4px;
   
}
#price-control{
    
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.browse-image{
	text-align: center;
	display:inline-block;
	float: left;
  	max-width:200px;
    margin:10px 10px 25px 10px;
    border-radius: 5px;
	border: 1px solid lightgray;
     transition: 0.2s;
     -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    transition: 0.2s;
}
.price{     
	text-align:center;
	font-size:24px;
	font-family: 'Maven Pro', sans-serif;

}
figcaption{
	text-align: center;
	margin-bottom:5px;
}
.thumb{
	padding:5px 7px 5px 5px;
	margin:auto;
    border-radius: 10px;
    margin-top: -15px;
}

#to{
	margin-top:-15px;
}


#about-us{
	clear: both;
	text-align: center;
}

.browse-image:hover{
    background-color: rgba(227, 227, 223, 0.4);
    transition: 0.2s;
    /* -ms-transform: rotate(7deg); /* IE 9 */ */
    /* -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */ */
    /* transform: rotate(7deg); */

}
.browse-image:hover:nth-child(2n){
     background-color: rgba(227, 227, 223, 0.4);
    transition: 0.2s;
    /* -ms-transform: rotate(-4deg); /* IE 9 */ */
    /* -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */ */
    /* transform: rotate(-4deg); */
}

/*---------------Image Gallery--------------*/
figure, figcaption {
display: block;
}
#polaroid{
width:100%;
overflow:hidden;
padding:20px 10px;
}
#polaroid figure{
float:left;
position:relative;
width:200px;
margin:10px 20px;
padding: 6px 8px 10px 8px;
-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
-moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
background: #eee6d8;
background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
-webkit-transform:rotate(-8deg);
-moz-transform: rotate(-8eg);
-o-transform: rotate(-8deg);
-ms-transform: rotate(-8deg);
transform: rotate(-8deg);
-webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
}
#polaroid figure:nth-child(even) {
-webkit-transform:rotate(5deg);
-moz-transform: rotate(5deg);
-o-transform: rotate(5deg);
-ms-transform: rotate(5deg);
transform: rotate(5deg);
-webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
-moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, .75);
}
#polaroid figure:before {
content: '';
display: block;
position: absolute;
left:5px;
top: -15px;
width: 75px;
height: 25px;
background-color: rgba(222,220,198,0.7);
-webkit-transform: rotate(-12deg);
-moz-transform: rotate(-12deg);
-o-transform: rotate(-12deg);
-ms-transform: rotate(-12deg);
}
#polaroid figure:nth-child(even):before {
left:150px;
top: -15px;
width: 55px;
height: 25px;
-webkit-transform: rotate(17deg);
-moz-transform: rotate(17deg);
-o-transform: rotate(17deg);
-ms-transform: rotate(17deg);
}
#polaroid figcaption{
text-align:center;
font-family: 'Reenie Beanie', cursive; /*Reenie Beanie is available through Google Webfonts http://code.google.com/webfonts/specimen/Reenie+Beanie*/
font-size:1.3em;
color:#454f40;
letter-spacing:0.09em;
}
/**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
#polaroid figure{
-pie-background: linear-gradient(#ede1c9, #fef8e2 20%, #f2ebde 60%);
behavior: url(assets/pie/PIE.htc);
position:relative; /*required to make PIE work*/
padding-top:10px\9;
padding-right:10px\9;
}

.pola{
	width:185px;
	height: 185px;
	margin-bottom: 5px;
}

#search-term{
	margin-top:0px;
}



.product-title{
	font-family: 'Maven Pro', sans-serif;
	font-size: 38px;
	text-align: center;
}

#sect1{
	margin-top:60px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

#shopbody{
    padding-top: 30px;
    text-align: center;
}