.account-container{
	text-align: center;
	width: 890px;
	margin-left: auto;
	margin-right: auto;
}

.details{
	text-align: left;
	width: 445px;
	margin-left: auto;
	margin-right: auto;
}

.orders{
	padding-bottom: 20px;
}