  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
    body, html 
    {
        height: 100%;
        color: #777;
        line-height: 1.8;
        font-size: 14px;
    }

#regFormStep1, #regFormStep2, #regFormStep3{
	display: block;
	margin-top: 20px;
	margin-bottom:30px;
	clear:both;
	border: 1px solid #238b18;
	border-radius: 5px;
	transition:0.5s;
}

input{
	width:50%;
	border-radius: 5px;
}

.inputForm{
	display:block;
	clear:both;
	padding:2px;
	margin-left:10px;
	margin-top:-4px;
	margin-bottom:2px;
}
.labelForm{
	padding:2px;
	margin-left:10px;
	margin-top:3px;
}
.labelForm:first-child{
	margin-top:10px;
}
.btn{
	margin:5px;
}

.glyphicon-triangle-right{
	margin-top:18px;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}



/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    width:51%;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}