.product-list {
    width: 65%;
    margin: 0 10px 10px 0px;
    padding: 0px;
    float: left;
}

.horizontal .stock-bar {
    float: left;
    height: 50px;
    width: 100%;
    padding 12px;
}

.horizontal .stock-track {
    position: relative;
    height 25px;
    width 100%;
    background: #3F3F3F;
    -moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
}

.horizontal .stock-fill {
    position: relative;
    background: #415989;
    height: 25px;
    width: 50%;
    color: #FEFEFE;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    -moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
}

.orderStockButton {
    float: right;
}

.idNumber {
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    border-radius: 17px;
    margin-right: 40px;
    padding: 7px;
    font-weight: 700;
    
}

.addProduct {
    float: right;
}

.product {
    list-style-type: none;
    padding: 15px 0 15px 0;

    margin: 0 0 25px 0;
    
}

.filter-block {
    background-color: #3F3F3F;
    float: right;
    border-radius: 17px;
    width: 30%;
    color: white;
    padding: 10px;
    border: 5px double #2e466e;
}

.filter-block h2 {
    color: white;
}
.priceOrder {
    margin-bottom: 20px;
}
.priceOrder h4 {
    display: inline-block;
    width: 50%;
    color: white;
}
.priceOrder select {
    width: 45%;
}
.typeOrder {
    margin-bottom: 20px;
}
.typeOrder h4 {
    display: inline-block;
    width: 50%;
    color: white;
}
.typeOrder select {
    width: 45%;
}



.title {
    font-weight: 700;
    position: inherit;
}

.price {
    padding-left: 40px;
    font-style: italic;
}